//----------------------------- Clientele

.clientele {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $consistent-gap 0;
  width: 60%;
  .underline {
    border-bottom: 4px solid black;
  }
  h2 {
    font-size: 2.5rem;
  }
  div:first-of-type {
    width: 40%;
    min-width: 650px;
    margin-right: $consistent-gap;
    p {
      font-size: 1.5rem;
      width: 100%;
      line-height: 2rem;
      margin-bottom: 2rem;
    }
  }
  img {
    min-width: 450px;
  }
}

@media only screen and (max-width: 1420px) {
  .clientele {
    h2 {
      font-size: 2.5rem;
    }
    div:first-of-type {
      width: 40%;
      min-width: 500px;
      margin-right: 0;
      p {
        font-size: 1.25rem;
        width: 100%;
        line-height: 2rem;
      }
    }
    img {
      min-width: 400px;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .clientele {
    h2 {
      font-size: 2.25rem;
    }
    div:first-of-type {
      p {
        font-size: 1.25rem;
      }
    }
    img {
      min-width: 350px;
    }
  }
}

@media only screen and (max-width: 1100px) {
  .clientele {
    width: 90%;
    h2 {
      font-size: 2.5rem;
    }
    div:first-of-type {
      min-width: 450px;
      p {
        font-size: 1.25rem;
      }
    }
    img {
      min-width: 300px;
    }
  }
}

@media only screen and (max-width: 850px) {
  .clientele {
    width: 90%;
    h2 {
      font-size: 2.5rem;
    }
    div:first-of-type {
      width: 80%;
      margin: 0 auto;
      p {
        font-size: 1.25rem;
      }
    }
    img {
      display: none;
    }
  }
}

@media only screen and (max-width: 520px) {
  .clientele {
    width: 90%;
    h2 {
      font-size: 2.5rem;
    }
    div:first-of-type {
      min-width: 60%;
      margin: 0 auto;
      text-align: left;
      p {
        font-size: 1.05rem;
      }
    }
  }
}
