//----------------------------- Demo

.demo {
  padding-top: $consistent-gap;
  h2 {
    font-size: 2rem;
  }
  p {
    color: $red;
  }
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    li {
      width: 100%;
      margin: 1rem auto;
      img {
        max-width: 1000px;
        border-radius: 10px;
      }
    }
  }
  .underline {
    border-bottom: 4px solid black;
  }
}

.fullpagedemo {
  width: 70%;
  margin: 0 auto;
  img {
    margin-top: 150px;
  }
}

@media only screen and (max-width: 850px) {
  .demo {
    width: 100% !important;
    h2 {
      padding-left: $consistent-gap;
    }
    p {
      padding-left: $consistent-gap;
    }
    ul {
      flex-direction: column;
      width: 50%;
      margin: 0 auto;
    }
  }
}
