.faq {
  padding-top: $consistent-gap;
  .underline {
    border-bottom: 4px solid black;
  }
  h2 {
    font-size: 2.5rem;
  }
}

.accordion {
  width: 100%;
  max-width: 1500px;
  margin: 2rem auto;
}
.accordion-item {
  background-color: $purple;
  color: white;
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
  transition: 0.3s;
}
.accordion-item:hover {
  background-color: black;
}
.accordion-item-header {
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.accordion-item-header::after {
  content: "\002B";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
}
.accordion-item-header.active::after {
  content: "\2212";
}
.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.accordion-item-body-content {
  padding: 1rem;
  line-height: 1.5rem;
  border-top: 1px solid;
  border-image: linear-gradient(to right, transparent, white, transparent) 1;
}
