//----------------------------- Footer

footer {
  padding: $consistent-gap 0;
  .contact {
    display: flex;
    justify-content: space-between;
  }
  div {
    width: 30%;
  }
  img {
    width: 50%;
  }
  .copyright {
    font-size: 0.8rem;
    text-align: center;
  }
}
