//----------------------------- Footer

footer {
  padding: $consistent-gap 0;

  .contact {
    display: flex;
    justify-content: space-between;
  }
  div {
    width: 30%;
  }
  .logoContainer {
    margin: 0 auto;
    width: 90%;
  }
  img {
    width: 100%;
  }
  .copyright {
    font-size: 0.8rem;
    text-align: center;
  }
}
