//----------------------------- Footer

footer {
  padding: $consistent-gap 0;

  .contact {
    display: flex;
    justify-content: space-between;
    div {
      width: calc(100 / 3);
    }
    img {
      width: 50px;
    }
    p {
      font-size: 1rem;
    }
  }

  .copyright {
    font-size: 0.8rem;
    text-align: center;
  }
}
