//----------------------------- Let's Talk

.letsTalk {
  width: 90%;
  margin: $consistent-gap 0;
  border-radius: 20px;
  background-color: $red;
  padding: $consistent-gap;
  h2 {
    font-size: 2.5rem;
    color: white;
  }
  .underline {
    border-bottom: 4px solid white;
  }
  .options {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    div:hover {
      background: black;
      padding: 4px 22px;
    }
    div {
      background: $purple;
      border-radius: 40px;
      height: 50px;
      padding: 0 20px;
      display: flex;
      align-items: center;
      margin-top: 2rem;
      transition: 0.2s;
      a {
        display: inline;
      }

      p,
      button {
        color: white;
        font-size: 1.5rem;
      }
      img {
        width: 30px;
        margin-left: 10px;
        filter: brightness(100) invert(1);
      }
    }
  }
  button {
    background: none;
    border: none;
  }
}

.peoples {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  img {
    width: 15%;
  }
}

// Modal

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close,
.closeit {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus,
.closeit:hover,
.closeit:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
