//----------------------------- Process

.process {
  background: $purple;
  color: white;
  padding: $consistent-gap 0;
  text-align: center;
  .underline {
    border-bottom: 4px solid white;
  }
  h2 {
    text-align: left;
    font-size: 2.5rem;
    color: white;
  }
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      width: 150px;
      margin-bottom: 1.5rem;
      filter: brightness(0) invert(1);
    }
    p {
      width: 230px;
      font-size: 1.3rem;
      color: white;
    }
  }
  .reserved {
    img {
      width: 200px;
      margin-bottom: -1.3rem;
    }
  }
}

.processText {
  font-size: 1.25rem;
  line-height: 2rem;
}

@media only screen and (max-width: 1200px) {
  .process {
    padding: $consistent-gap;
    .underline {
      border-bottom: 4px solid white;
    }
    h2 {
      font-size: 2rem;
    }
    h3 {
      font-size: 1.25rem;
    }
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      li {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      img {
        width: 30%;
        margin-bottom: 1.5rem;
      }
      p {
        width: 75%;
        font-size: 1.1rem;
      }
    }
  }
}

@media only screen and (max-width: 1034px) {
  .process {
    .wrapperslim {
      width: 100%;
    }
    ul {
      li {
        p {
          width: 100%;
          font-size: 1rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 850px) {
  ul {
    display: flex;
    flex-direction: column;
  }

  .process {
    h2 {
      font-size: 1.5rem;
    }
    h3 {
      font-size: 2rem;
    }
    ul {
      img {
        margin: $consistent-gap;
      }
      h3 {
        margin: 0;
      }
      li {
        width: 70%;
        p {
          font-size: 1.25rem;
        }
      }
    }
  }
}
