//----------------------------- Process

.process {
  background: $purple;
  color: white;
  padding: $consistent-gap 0;
  text-align: center;
  .underline {
    border-bottom: 4px solid white;
  }
  h2 {
    text-align: left;
    font-size: 2.5rem;
  }
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      width: 150px;
      margin-bottom: 1.5rem;
      filter: brightness(0) invert(1);
    }
    p {
      width: 240px;
      font-size: 1.3rem;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .process {
    padding: $consistent-gap;
    .wrapperslim {
      width: 100%;
    }
    .underline {
      border-bottom: 4px solid white;
    }
    h2 {
      font-size: 2rem;
    }
    h3 {
      font-size: 1.5rem;
    }
    ul {
      width: 120%;
      li {
        width: 25%;
      }
      img {
        width: 40%;
        margin-bottom: 1.2rem;
      }
      p {
        width: 90%;
        font-size: 1.4rem;
      }
    }
  }
}

@media only screen and (max-width: 850px) {
  ul {
    display: flex;
    flex-direction: column;
  }

  .process {
    h2 {
      font-size: 1.5rem;
    }
    h3 {
      font-size: 2rem;
    }
    ul {
      width: 100%;
      padding: 0;
      h3 {
        margin: 0;
      }
      li {
        width: 70%;
        p {
          font-size: 1.5rem;
          margin: $consistent-gap 0;
        }
      }
    }
    .reserved {
      img {
        margin-bottom: -50px;
      }
    }
  }
}
