//----------------------------- Services

.services {
  background: $red;
  color: white;
  padding: $consistent-gap;
  text-align: center;
  .underline {
    border-bottom: 4px solid white;
  }
  h2 {
    text-align: left;
    font-size: 2.5rem;
  }
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      width: 150px;
      margin-bottom: 1.5rem;
    }
    p {
      width: 230px;
      font-size: 1.3rem;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .services {
    padding: $consistent-gap;
    .wrapperslim {
      width: 100%;
    }
    .underline {
      border-bottom: 4px solid white;
    }
    h2 {
      font-size: 2rem;
    }
    h3 {
      font-size: 1.5rem;
    }
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      li {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      img {
        width: 40%;
        margin-bottom: 1.2rem;
      }
      p {
        width: 90%;
        font-size: 1.4rem;
      }
    }
  }
}

@media only screen and (max-width: 1034px) {
  .services {
    .wrapperslim {
      width: 100%;
    }
    ul {
      li {
        p {
          width: 100%;
          font-size: 1.4rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 850px) {
  ul {
    display: flex;
    flex-direction: column;
  }

  .services {
    padding: $consistent-gap 0;
    .wrapperslim {
      width: 100% !important;
    }
    h2 {
      padding: 0 $consistent-gap;
      font-size: 2.5rem;
    }
    h3 {
      font-size: 2rem;
    }
    ul {
      padding: 0;
      img {
        margin: $consistent-gap;
      }
      h3 {
        margin: 0;
      }
      li {
        width: 70%;
        p {
          font-size: 1.25rem;
        }
      }
    }
  }
}
