//----------------------------- Variables

$consistent-gap: 1.5rem;
$purple: #854a9e;
$red: #e31e25;

//----------------------------- General

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 95%;
  margin: 0 auto;
}

//----------------------------- Text

body {
  font-family: "Cantarell-Regular", sans-serif;
  line-height: 1.7rem;
  font-size: 1.2rem;
  margin: 0 auto;
}

h1, h2 {
  font-family: "SpartanMB-Regular", sans-serif;
}

a {
  color: $purple;
}

//----------------------------- Nav

.top-nav {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  div {
    width: 20%;
    img {
      width: 15rem;
    }
  }
  nav {
    width: 50%;
  }
  nav ul {
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
  }
}

//----------------------------- Header

header {
  text-align: center;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: capitalize;
  h1 {
    color: $purple;
    font-size: 5rem;
    line-height-step: 1.3em;
    letter-spacing: 1px;
  }
  
  h2 {
    color: $red;
    font-size: 1.25rem;
  }
}

//----------------------------- Contact

//----------------------------- Footer

//----------------------------- Fonts

/* Helvetica */
@font-face {
  font-family: "Helvetica";
  src: url("../assets/fonts/Helvetica.ttf"); /* IE9 Compat Modes */
  src: local("Helvetica"), local("Helvetica"),
    url("../assets/fonts/Helvetica.ttf")
}

/* Cantarell-Bold */
@font-face {
  font-family: "Cantarell-Bold";
  src: url("../assets/fonts/Cantarell-Bold.ttf"); /* IE9 Compat Modes */
  src: local("Cantarell-Bold"), local("Cantarell-Bold"),
    url("../assets/fonts/Cantarell-Bold.ttf")
}

/* Cantarell-Regular */
@font-face {
  font-family: "Cantarell-Regular";
  src: url("../assets/fonts/Cantarell-Regular.ttf"); /* IE9 Compat Modes */
  src: local("Cantarell-Regular"), local("Cantarell-Regular"),
    url("../assets/fonts/Cantarell-Regular.ttf")
}

/* SpartanMB-Regular */
@font-face {
  font-family: "SpartanMB-Regular";
  src: url("../assets/fonts/SpartanMB-Regular.ttf"); /* IE9 Compat Modes */
  src: local("SpartanMB-Regular"), local("SpartanMB-Regular"),
    url("../assets/fonts/SpartanMB-Regular.ttf")
}

//----------------------------- Media queries
