//----------------------------- Variables

$consistent-gap: 1.5rem;
$purple: rgba(133, 74, 158, 1);
$darkpurple: rgba(102, 57, 122, 1);
$lightpurple: rgba(179, 133, 198, 1);
$red: rgba(227, 30, 37, 1);
$darkred: rgba(159, 20, 25, 1);
$lightred: rgba(241, 142, 145, 1);

//----------------------------- General

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 95%;
  margin: 0 auto;
}

.wrapperslim {
  width: 70%;
  margin: 0 auto;
  max-width: 1200px;
}

img {
  width: 100%;
}

//----------------------------- Text

body {
  font-family: "VisbyRoundCF-Regular", sans-serif;
  line-height: 1.7rem;
  font-size: 1.2rem;
  margin: 0 auto;
}

h1 {
  font-family: "VisbyRoundCF-Bold", sans-serif;
}

a {
  color: $purple;
}

//----------------------------- Nav

.top-nav {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  div {
    width: 20%;
    img {
      width: 15rem;
    }
  }
  nav {
    width: 70%;
  }
  nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
    a {
      color: $purple;
      text-decoration: none;
      letter-spacing: 0.1rem;
      display: inline-block;
      position: relative;
      margin-left: 2rem;
    }
    a:after {
      background: none repeat scroll 0 0 transparent;
      bottom: 0;
      content: "";
      display: block;
      height: 2px;
      left: 50%;
      position: absolute;
      background: $red;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0;
    }
    a:hover:after {
      width: 100%;
      left: 0;
    }
  }
}

//----------------------------- Header

header {
  text-align: center;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h1 {
    color: $purple;
    font-size: 4rem;
    line-height-step: 1.3em;
    letter-spacing: 1px;
  }

  h2 {
    color: $red;
    font-size: 2rem;
    margin-top: -1rem;
  }
}

.ml15 .word {
  display: inline-block;
  line-height: 1em;
}

.box div {
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: transparent;
}

.box div:nth-child(1) {
  width: 10px;
  height: 10px;
  top: 12%;
  left: 42%;
  animation: animate 10s linear infinite;
  border: 2px solid rgba(241, 142, 145, 1);
}

.box div:nth-child(2) {
  width: 120px;
  height: 120px;
  top: 70%;
  left: 50%;
  animation: animate 7s linear infinite;
  border: 2px solid rgba(102, 57, 122, 1);
}

.box div:nth-child(3) {
  width: 100px;
  height: 100px;
  top: 17%;
  left: 6%;
  animation: animate 9s linear infinite;
  border: 2px solid rgba(159, 20, 25, 1);
}

.box div:nth-child(4) {
  width: 80px;
  height: 80px;
  top: 20%;
  left: 60%;
  animation: animate 10s linear infinite;
  border: 2px solid rgba(241, 142, 145, 1);
}

.box div:nth-child(5) {
  width: 40px;
  height: 40px;
  top: 67%;
  left: 10%;
  animation: animate 6s linear infinite;
  border: 2px solid rgba(179, 133, 198, 1);
}

.box div:nth-child(6) {
  width: 80px;
  height: 80px;
  top: 80%;
  left: 70%;
  animation: animate 12s linear infinite;
  border: 2px solid rgba(241, 142, 145, 1);
}

.box div:nth-child(7) {
  width: 100px;
  height: 100px;
  top: 60%;
  left: 80%;
  animation: animate 15s linear infinite;
  border: 2px solid rgba(102, 57, 122, 1);
}

.box div:nth-child(8) {
  width: 120px;
  height: 120px;
  top: 32%;
  left: 25%;
  animation: animate 16s linear infinite;
  border: 2px solid rgba(179, 133, 198, 1);
}

.box div:nth-child(9) {
  width: 30px;
  height: 30px;
  top: 90%;
  left: 25%;
  animation: animate 9s linear infinite;
  border: 2px solid rgba(159, 20, 25, 1);
}

.box div:nth-child(10) {
  width: 10px;
  height: 10px;
  top: 20%;
  left: 80%;
  animation: animate 12s linear infinite;
  border: 2px solid rgba(102, 57, 122, 1);
}

@keyframes animate {
  0% {
    transform: scale(0) translateY(0) rotate(0);
    opacity: 1;
  }
  100% {
    transform: scale(1.3) translateY(-90px) rotate(360deg);
    opacity: 1;
  }
}

//----------------------------- Services

.services {
  background: $red;
  color: white;
  padding: $consistent-gap;
  text-align: center;
  .underline {
    border-bottom: 4px solid white;
  }
  h2 {
    text-align: left;
    font-size: 2.5rem;
  }
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      width: 150px;
      margin-bottom: 1.5rem;
    }
    p {
      width: 300px;
      font-size: 1.5rem;
    }
  }
}

//----------------------------- Clientele

.clientele {
  display: flex;
  margin: $consistent-gap * 3 auto;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  .underline {
    border-bottom: 4px solid black;
  }
  h2 {
    font-size: 2.5rem;
  }
  div:first-of-type {
    width: 40%;
    min-width: 650px;
    margin-right: $consistent-gap;
    p {
      font-size: 1.5rem;
      width: 100%;
      line-height: 2rem;
    }
  }
  img {
    min-width: 450px;
  }
}

//----------------------------- Process

.process {
  background: $purple;
  color: white;
  padding: $consistent-gap;
  text-align: center;
  .underline {
    border-bottom: 4px solid white;
  }
  h2 {
    text-align: left;
    font-size: 2.5rem;
  }
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      width: 150px;
      margin-bottom: 1.5rem;
    }
    p {
      width: 300px;
      font-size: 1.5rem;
    }
  }
}

//----------------------------- Contact

//----------------------------- Footer

//----------------------------- Fonts

/* Helvetica */
@font-face {
  font-family: "Helvetica";
  src: url("../assets/fonts/Helvetica.ttf"); /* IE9 Compat Modes */
  src: local("Helvetica"), local("Helvetica"),
    url("../assets/fonts/Helvetica.ttf");
}

/* Cantarell-Bold */
@font-face {
  font-family: "Cantarell-Bold";
  src: url("../assets/fonts/Cantarell-Bold.ttf"); /* IE9 Compat Modes */
  src: local("Cantarell-Bold"), local("Cantarell-Bold"),
    url("../assets/fonts/Cantarell-Bold.ttf");
}

/* Cantarell-Regular */
@font-face {
  font-family: "Cantarell-Regular";
  src: url("../assets/fonts/Cantarell-Regular.ttf"); /* IE9 Compat Modes */
  src: local("Cantarell-Regular"), local("Cantarell-Regular"),
    url("../assets/fonts/Cantarell-Regular.ttf");
}

/* SpartanMB-Regular */
@font-face {
  font-family: "SpartanMB-Regular";
  src: url("../assets/fonts/SpartanMB-Regular.ttf"); /* IE9 Compat Modes */
  src: local("SpartanMB-Regular"), local("SpartanMB-Regular"),
    url("../assets/fonts/SpartanMB-Regular.ttf");
}

/* VisbyRoundCF-Bold */
@font-face {
  font-family: "VisbyRoundCF-Bold";
  src: url("../assets/fonts/VisbyRoundCF-Bold.otf"); /* IE9 Compat Modes */
  src: local("VisbyRoundCF-Bold"), local("VisbyRoundCF-Bold"),
    url("../assets/fonts/VisbyRoundCF-Bold.otf");
}

/* VisbyRoundCF */
@font-face {
  font-family: "VisbyRoundCF-Regular";
  src: url("../assets/fonts/VisbyRoundCF-Regular.otf"); /* IE9 Compat Modes */
  src: local("VisbyRoundCF-Regular"), local("VisbyRoundCF-Bold"),
    url("../assets/fonts/VisbyRoundCF-Regular.otf");
}

//----------------------------- Media queries

@media only screen and (max-width: 1070px) {
  header {
    h1 {
      line-height: 60px;
    }
    h2 {
      margin-top: -20px;
    }
  }
}
